.article-container {
    position: absolute;
    
    .blackout {
        transition: opacity 300ms ease-in-out;
        opacity: 0;
    }

    article {
        position: absolute;
        width: 60%;
        top: 20%;
        left: 20%;
        right: 20%;
        border-radius: $border-radius;   
        background-color: $white; 
        transform: scale(0);  
        transition: transform 300ms ease-in-out; 
    }

    //transition the scale of the article container and the blackout background when an item is selected
    &.selected { 
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        .blackout {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 1;
        }
        
        article {
            transform: scale(1);
            z-index: 2;
        }
    }

    header {
        height: 60px;
        @include rem('padding', 15px 25px);
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: -webkit-linear-gradient(left, $magenta, $hot-salmon);
	    background-color: linear-gradient(to right, $magenta, $hot-salmon); 
        color: $white;

        h3 {
           position: relative;
           margin: 0; 

           .btn-as-link {
                position: absolute;
                top: 4px;
                right: 0;

                svg {
                    width: 12px;
                }
            }
        }
    }

    .article-contents {
        display: flex;
        height: calc(100% - 60px);

        figure {
            flex: 1;
    
            .article-image {
                width: 100%;
            }

            figcaption {
                @include rem('padding', 5px 20px 15px 20px);
                font-size: 12px;
            }
        }
    
        .article-text {
            flex: 1;
            margin: 0;
            @include rem('padding', 20px 30px);
        }
    }
}