button,
input[type="submit"] {
	@include rem('padding', 5px 0);
	display: inline-block;
	border: 1px $primary-color solid;
	color: $primary-color;
	background-color: transparent;
	outline: none;
	border-radius: $border-radius;
	font-family: $base-font-family;
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: 0.02em;
	text-align: center;
	text-decoration: none;
	transition: all 300ms ease-in-out;
}

.btn-primary {
	@include rem('padding', 10px);
	color: $white;
	border: none;
	background:$primary-color;
	text-transform: uppercase;
}

.btn-secondary {
	@include rem('padding', 15px);
	color: $primary-color;
	background-color: $white;
	border: 1px $primary-color solid;
	text-transform: uppercase;
}

.btn-as-link {
	border: none;
	color: $primary-color;
	background-color: transparent;
	text-decoration: none;
	text-transform: capitalize;
	transition: color 300ms ease-in-out;

	&:disabled {
		border: none;
		color: $medium-grey;

		&:hover {
			border: none;
			color: $medium-grey;
		}
	}

	&:hover:enabled {
		color: $highlight-color;
	}
}