* {
	@include border-box;
}

html {
	//autohide scrollbar when inactive for ie
	-ms-overflow-style: -ms-autohiding-scrollbar;
	height: 100%;

	body {
		height: 100%;

		#main {
			height: 100%;
		}
	}
}

body {
	margin: 0;
	padding: 0;
	color: $text-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $line-height;
	letter-spacing: 0.01rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
}

img {
	height: auto;
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
}

a {
	color: $link-color;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	text-transform: capitalize;
	text-decoration: none;

	&:hover {
		color: $highlight-color;
		border-bottom-color: $highlight-color;
	}
}

.lowercase-text {
	text-transform: lowercase;
}

.main-container {
	overflow: hidden;
	height: 100%;

	&.selected .list-container > * {
		pointer-events: none;
	}

	.main-nav {
		

		@media (min-width: $mobile-media-query-min-width) {
			height: 65px;
		}
	}

	.list-container {
		width: 100%;
		height: calc(100% - 65px);
		@include rem('padding', 11px 35px 15px 35px);

		@media (min-width: $mobile-media-query-min-width) {
			height: calc(100% - 65px);
		}
	
		//Grid prefixes added manually for IE as relying autoprefixer not advised for this
		//Read https://rachelandrew.co.uk/archives/2018/07/17/should-i-try-to-use-the-ie-version-of-grid-layout-revisited-for-2018/ for more info 
		.flex-table {
			display: -ms-grid;
			display: grid;
			height: 100%;
			grid-template-columns: 100%;
			grid-template-rows: 60px auto;
			-ms-grid-columns: 100%;
			-ms-grid-rows: 60px auto;
			grid-template-areas: "table-header" "table-list";
	
			.table-row.table-header {
				-ms-grid-column: 1;
				-ms-grid-row: 1;
				-ms-grid-column-span: 1;
				-ms-grid-row-span: 1;
				grid-area: table-header;
			}
	
			.table-row-list {
				-ms-grid-column: 1;
				-ms-grid-row: 2;
				-ms-grid-column-span: 1;
				-ms-grid-row-span: 1;
				grid-area: table-list;
			}
		}
	}
}