.main-nav {
	background: $primary-color;
	color: $white;

	.logo-container {
		display: inline-block;
		@include rem('padding', 15px 15px 15px 14px);
	}

	.nav-tab-list {
		display: inline-block;
		padding: 0;

		.nav-tab-item {
			display: inline-block;
			@include rem('height', 60px);
			@include rem('padding', 18px 20px);

			&.active {
				background-color: $white;
				opacity: 0.4;
			}
		}
	}
}
