.flex-table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    line-height: 1.5;

    .table-row-list {
        overflow-y: scroll;
    }

    .table-row {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        &:hover {
            cursor: pointer;
        }

        //Alternate table row background colour highlighting
        &:nth-child(odd) {

            .table-row-item {
                background-color: $white;
            }

            &:hover .table-row-item {
                background-color: darken($lightest-grey, 5%);
            }
        }

        &:nth-child(even) {

            .table-row-item {
                background-color: $lightest-grey;
            }

            &:hover .table-row-item {
                background-color: darken($lightest-grey, 5%);
            }
        }

        //table header
        &.table-header {
            font-weight: bold;
            border-bottom: 1px $border-color solid;

            &:hover .table-row-item {
                background-color: $white;
                cursor: default;
            }

            .table-row-item {

                .item-description {
                    @include rem("margin-right", 10px);
                    position: relative;
                    cursor: pointer;
                }
            }
        }

        //table row item
        .table-row-item {
            position: relative;
            word-break: break-word;
            @include rem('padding', 17px);        
            transition: background-color 400ms ease-in-out;

            & ~ * {
                flex: 1;
            }
            
            &:last-child {
                flex: 3;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}