body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 10px 0 0 0;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 0 0 15px 0;
}

ul {
  padding-left: 30px;
}

.commentList {
  margin-left: 15px;
  color: #666;
}

.comment {
  border-bottom: #999 1px solid;
  padding-bottom: 20px;
}

.comment:last-of-type {
  border-bottom: none;
}

.commentForm {
  border: #666 1px solid;
  padding: 5%;
  text-align: center;
}

input[type="text"], input[type="submit"] {
  display: block;
  width: 86%;
  margin: 5% auto;
  padding: 2%;
}

input[type="submit"] {
  color: #fff;
  background-color: #666;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}
